/* contact.css */
.contact-box {
  backdrop-filter: blur(10px);
  border-radius: var(--big-radius);
  background: var(--glass);
  text-align: center;
  max-width: var(--max-width);
  padding: 0;
  border: var(--border);
  margin: 1rem auto;
}
.social-media a {
  font-size: 2.5rem;
  gap: 2rem;
}

.join-section {
  text-align: center;
  padding: 2.5rem;
}

/* Map Config */
#map {
  border-radius: var(--big-radius);
  margin: 0 auto;
  margin-top: 2rem;
  background: var(--bg);
  height: 400px;
  max-width: var(--max-width)
}
.leaflet-control-zoom {
  display: none;
}

/* Leaflet Popup Customization */
.leaflet-popup-content {
  font-family: 'Inter', sans-serif;
  color: var(--text);
}
.leaflet-popup {
  backdrop-filter: blur(2px);
  border-radius: 8px;
  border: none;
}
.leaflet-popup-content-wrapper {
  background: var(--glass);
  color: var(--text);
  box-shadow: none;
}
.leaflet-popup-tip {
  background: var(--glass);
  box-shadow: none;
}
.leaflet-popup-close-button {
  display: none;
}
